summary {
  color: grey;
  font-style: italic;
}

content {
  width: 100%;
}

Itemcard {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.itemcard-todo {
  display: block;
  margin: 0 0 0 0;
  box-shadow: 0 0 0.5em 0.2em rgb(0 0 0 / 15%);
  border-radius: 0.6em;
}

.todo-topbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2em solid grey;
  border-right: 0.2em solid grey;
  border-left: 0.2em solid grey;
  border-radius: 0.6em 0.6em 0 0;
}

.todo-topbar > .completioncheckbox {
  flex: 0 0 3%;
}

.todo-topbar > p {
  margin: 0 0 0 0;
}

.todo-topbar > .titledisplay {
  font-size: 1.5rem;
  flex: 4 0 65%;
  margin: 0 0 0 0;
  overflow-wrap: break-word;
}

.todo-topbar > .typedisplay {
  flex: 0 0 5%;
}

.todo-topbar > .utimedisplay {
  flex: 0 0 auto;
}


.todo-bodytoggle {
  border-left: 0.2em solid grey;
  border-right: 0.2em solid grey;
  padding: 0.1em 0.5em;
}

.todo-bodytoggle > .bodytextdisplay {
  padding: 0.15em 0.5em;
  margin: 0 0 0 0;
}

.todo-bottombar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5em 0 0.5em;
  border-top: thin solid grey;
  border-right: 0.2em solid grey;
  border-left: 0.2em solid grey;
  border-bottom: 0.2em solid grey;
  border-radius: 0 0 0.6em 0.6em;
}

.todo-bottombar > .duedate-display {
  flex: 1.5 0 80%;
  margin: 0;
}

.todo-bottombar > button {
  height: 1.5em;
  width: 1.5em;
  flex: 0 1 0;
  margin-left: 0.75em;
  border-left: thin solid grey;
  border-right: thin solid grey;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.todo-bottombar > button > img {
  height: 1em;
  width: 1em;
}

.todo-childrentoggle {
  border-bottom-left-radius: 0.6em;
  border-left: 0.1em dashed grey;
  border-bottom: 0.1em dashed grey;
  padding: 0.15em 0.25em 0.2em;
}

.todo-childrenlist {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.3em;
  margin: 0 0 0 0;
  padding: 0 0.3em 0 0.3em;
  border: 0 0 0 0;
}

.itemcard-note {
  display: block;
  margin: 0 0 0.5em;
  box-shadow: 0.5em 0.5em 1px rgb(0 0 0 / 20%);
}

.note-topbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2em solid grey;
  border-right: 0.2em solid grey;
  border-left: 0.2em solid grey;
}

.note-topbar > p {
  margin: 0 0 0 0;
}

.note-topbar > .titledisplay {
  font-size: 1.5rem;
  flex: 4 0 70%;
  margin: 0 0 0 0;
  overflow-wrap: break-word;
}

.note-topbar > .typedisplay {
  flex: 0 0 5%;
}

.note-topbar > .utimedisplay {
  flex: 0 0 auto;
}

.note-bodytoggle {
  border-left: 0.2em solid grey;
  border-right: 0.2em solid grey;
  padding: 0.1em 0.5em;
}

.note-bodytoggle > .bodytextdisplay {
  padding: 0.15em 0.5em;
  margin: 0 0 0 0;
}

.note-bottombar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5em 0 0.5em;
  border-top: thin solid grey;
  border-right: 0.2em solid grey;
  border-left: 0.2em solid grey;
  border-bottom: 0.2em solid grey;
}

.note-bottombar > .duedate-display {
  flex: 1.5 0 80%;
  margin: 0;
}

.note-bottombar > button {
  height: 1.5em;
  width: 1.5em;
  flex: 0 1 0;
  margin-left: 0.75em;
  border-left: thin solid grey;
  border-right: thin solid grey;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.note-bottombar > button > img {
  height: 1em;
  width: 1em;
}

.note-childrentoggle {
  border-left: 0.1em dashed grey;
  border-bottom: 0.1em dashed grey;
  padding: 0.15em 0.25em 0.2em;
}

.note-childrenlist {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 0 0 0;
  padding: 0 0.3em 0 0.3em;
  border: 0 0 0 0;
}

.itemcard-tag {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 1%;
  margin-bottom: 0.25%;
  margin-top: 0.25%;
  padding-top: 0.15%;
  padding-bottom: 0.15%;
}
